body{
    background-color: powderblue;
}

@import url('http://fonts.googleapis.com/css?family=Urbanist&display=swap');

h1{
    font-family: 'Urbanist';
}

.container{
    display: flex;
    justify-content: space-between;
}

.youtube_video{
    flex: 2;
}
/* laptop-screen */
@media only screen and (min-width: 420px) {
    body {
      background-color: lightblue;
    }

    h1{
        color: #FFF;
    }
  }